version: '3'

services:
  db:
    container_name: 'Chayatorn-postgres'
    image: 'postgres:latest'
    ports:
      - 54322:5432
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    restart: 'unless-stopped'
    
  pgadmin:
    container_name: 'Chayatorn-pgadmin'
    image: 'dpage/pgadmin4:latest'
    ports:
      - 8080:80
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PG_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PG_PASS}
    restart: 'unless-stopped'
  
  strapi:
    container_name: 'Chayatorn-strapi'
    image: 'naskio/strapi:latest'
    ports:
      - 13372:1337
    environment:
      - name=value
      - DATABASE_CLIENT=${ST_CLIENT}
      - DATABASE_HOST=${ST_HOST}
      - DATABASE_PORT=$ST_PORT}
      - DATABASE_NAME=${ST_NAME}
      - DATABASE_USERNAME=${ST_USERNAME}
      - DATABASE_PASSWORD=${ST_PASSWORD}
      - DATABASE_SSL=${ST_SSL}
    restart: 'unless-stopped'